.sidebar {
  /* important styles */
  flex-shrink: 0;
  width: 50%; /* make this whatever you need */
  height: 100vh;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  

  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
  /* justify-content: center; */

  @media (max-width: 600px) {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: visible;
    height: auto;
  }

  /* 
    you could use `position: absolute` above, but using
    `sticky` means we don't need to separately move the
    content section over to prevent the elements from
    overlapping
  */

  /* extra styles */
  /* padding: 16px; */
  /* border-right: 2px double rgb(185, 185, 185); */
}

.container {
  position: absolute;
  /* display:flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* height: 100%; */
  /* width:100%; */

  /* overflow: visible; */
  /* top: 50%; */
  /* transform: translate(0%, -50%); */
  padding: 20px;

  @media (max-width: 600px) {
    position:relative;
    /* top: 0px; */
    /* transform: translate(0%, 0%); */
  }

  @media (max-height: 700px) {
    height: 100%;
  }
}

.portrait {
  height: 270px;
  width: 270px;
  border-radius: 135px;
  margin-bottom: 20px;
}

/* make the nav take up more room :P */
/* .nav li {
  text-align: left;
  line-height: 1.5;
} */

ul.nav {
  list-style-type: none;
  padding: 10px;
  padding-left: 0px;
}

/* Style for each list item */
ul.nav li {
  margin-bottom: 20px;
  font-size: larger;
  font-weight: bold;
}

/* Style for the anchor tags */
ul.nav li a {
  text-decoration: none;
  color: whitesmoke; /* Default text color */
  transition: color 0.3s, border-bottom 0.3s; /* Transition for smooth color change and underline on hover */

  /* Style the underline on hover */
  &:hover {
    color: #00C6BF; /* Change text color on hover */
    border-bottom: 2px solid #00C6BF; /* Add underline on hover */
  }
}

/* Optional: Style for the active link (if needed) */
ul.nav li a.active {
  color: #00C6BF; /* Change text color for the active link */
  border-bottom: 2px solid #00C6BF; /* Add underline for the active link */
}

.name a { 
  text-decoration: none;
  color: whitesmoke; /* Default text color */
  transition: color 0.3s, border-bottom 0.3s; /* Transition for smooth color change and underline on hover */

  /* Style the underline on hover */
  &:hover {
    color:aliceblue; /* Change text color on hover */
  }
}

.name h1 {
  font-size: 75px;
  margin-bottom: 5px;
  margin-top: 0px;
  /* padding-top: 0px; */
}

.name h2 {
  margin-top: 0px;
  color:#00C6BF;
}

.footer {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 20px;
  /* margin-bottom: 20px; */

  @media (max-width: 600px) {
    justify-content: center;
  }
}

.footer a {
  color: whitesmoke;
  opacity: 0.7;
  text-decoration: none;
  margin-right: 25px;
}

#email {
  margin-right: 0px;
}

/* Add a hover effect if you want */
.footer a:hover {
  opacity: 0.7;
}