.content {
  /* important styles */
  flex-grow: 1;
  align-items: center;
  /* extra styles */
  @media (max-width: 600px) {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

  }
}

.textContent {
  /* important styles */
  flex-grow: 1;
  /* width: 90%; */

  /* extra styles */
  padding-top: 70px;
  padding-bottom: 15px;
  /* padding-left: 80px; */
  /* padding-right: 160px; */

  /* padding-right: 150px; */
}

.text {
  flex: 1; /* Takes up remaining space */
  padding-right: 30px; /* Add some spacing between text and image */
}

.subsection {
  margin-bottom: 85px;
}

#experience {
  margin-bottom: 70px;
}

.resume-link:hover {
  text-decoration: none;
  margin-right: 10px;
  color: #00C6BF;
}

.resume-link {
  text-decoration: none;
  color: whitesmoke;
  transition: margin 0.3s ease;
  margin-right: 5px;
}

.resume-link-wrapper:hover {
  color: #00C6BF;
}

.textFooter {
  bottom: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  text-align: center; /* Center text inside the div if needed */
  padding: 10px;
  color: whitesmoke;
  margin-bottom: 10px;
}
